[submodule "vendor/magit"]
	path = vendor/magit
	url = http://github.com/magit/magit.git
[submodule "vendor/perspective"]
	path = vendor/perspective
	url = https://github.com/nex3/perspective-el.git
[submodule "vendor/theme-roller"]
	path = vendor/theme-roller
	url = https://github.com/senny/theme-roller.el.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = https://github.com/pezra/rspec-mode.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = https://github.com/senny/rvm.el.git
[submodule "vendor/rhtml-mode"]
	path = vendor/rhtml-mode
	url = https://github.com/eschulte/rhtml.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "vendor/feature-mode"]
	path = vendor/feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "vendor/idle-highlight-mode"]
	path = vendor/idle-highlight-mode
	url = https://github.com/nonsequitur/idle-highlight-mode.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "vendor/popwin"]
	path = vendor/popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule "vendor/smex"]
	path = vendor/smex
	url = https://github.com/nonsequitur/smex.git
