[submodule "vendor/magit"]
	path = vendor/magit
	url = http://github.com/magit/magit.git
[submodule "vendor/perspective"]
	path = vendor/perspective
	url = https://github.com/nex3/perspective-el.git
[submodule "vendor/theme-roller"]
	path = vendor/theme-roller
	url = https://github.com/senny/theme-roller.el.git
